RewriteEngine On
RewriteBase /php_projects/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

<LimitExcept GET POST>
    Require all denied
</LimitExcept>
